
@media (max-width: 480px) {     /* Styles for screens smaller than 768px */

    
    
    body{
        background-color: #1f1f1f;
        color: white;
        font-size: 16px;
        font-family: 'Tahoma', sans-serif;
        overflow-x: hidden;
    }
                             /* start of nav section  */
    nav{
        position: fixed;
        display: flex;
        justify-content:flex-end;
        align-items: center;
        padding: 1rem 0rem 1rem 0rem;
        width: 95dvw;
        z-index: 999;
    }
    .menu{
        border-radius: 50%;
        height: 40px;
        width: 40px;
        border: 1px solid whitesmoke;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        justify-content: center;
        align-items: center;
        background-color: #1f1f1f;
    }

    .line{
        border: 1px solid whitesmoke;
        width: 20px;
    }
                         /* end of nav section */

                        /*start of header section*/

    h1{
        font-size: 3rem;
        max-width: 15ch;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: whitesmoke;
        color: #1f1f1f;
        font-weight:thin;
        text-align: center;
        font-variant-caps:all-petite-caps;
    }
    h2{
        font-size: 1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight:lighter;
        color: whitesmoke;
        max-width: 30ch;
        opacity:69%;
        text-align: center;
        line-height: 1.5rem;
    
    }
    header{
        width: 100dvw;
        min-height: 100dvh;  
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header>div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 0rem 2rem 0rem 2rem;
        overflow-x: hidden;
    }
                    /*end of header section*/

                  /* start of project section  */
    .project-section{
        display: flex;
        width: 100dvw;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 6rem;
        padding-bottom: 2rem;
        overflow-x: hidden;
    }
    .project{
        width: 100%;
        height: 50dvh;
        display: flex;
        flex-direction: row;
       
    }
            /*initializing projects components*/
    .project-number>h1{
        rotate: 90deg;
    }
    .project-number{
        width: 15dvw;
        display: flex;
        justify-content: end;
        align-items: center;

    }
    .project-type{
        width: 20dvw;
        height: 100%;
        display:flex ;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;

        
    }
    .project-text{
        width: auto;
        font-size:1rem;
        letter-spacing: 0.5rem;
        font-weight:lighter;
        text-align:center;
        rotate:60deg;
    
    }
    .project-image>h1{              /* animation rotate of text button */
        mix-blend-mode:difference;
        position: absolute;
        bottom: -1rem;
        right: 0rem;
        font-size: 2rem;
        font-weight:bolder;
        -webkit-text-stroke-width: .5px;
        animation: run 3s infinite alternate ease-in-out;
        white-space: nowrap;
    }
    @keyframes run {
        from {
            transform:translate(0rem)
        }
        to {
        transform: translate(-6rem);
        }
    }

    .button-text{                   /* animation loop of text title */
        opacity: 80%;
        mix-blend-mode: difference;
        font-size:0.7rem;
        letter-spacing: 0.2rem;
        text-align: center;
        font-weight: 100;
        position: absolute;
        white-space: nowrap;
        animation: rotation 100s infinite linear;
    }
    @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
    }
             /*end of initializing projects components*/

     /* first project styling */

    .project .project-image{    /*first project styling of specific images*/
        width: 70dvw;
        height: 100%;
        background-image: url(images/laniemoore-shop.jpg); 
        background-position: center;
        background-size:cover;
        background-repeat: no-repeat;
        position: relative;   
    }
    .project.two .project-image{    /*second project styling of specific images*/
        width: 70dvw;
        height: 100%;
        background-image: url(images/apax-visa-consultancy.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    .project.three .project-image{    /*third project styling of specific images*/
        width: 70dvw;
        height: 100%;
        background-image: url(images/jessechedotal-coach.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    .project.four .project-image{    /*fourth project styling of specific images*/
        width: 70dvw;
        height: 100%;
        background-image: url(images/obsequium-lawfirm.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    
    
    .project-button{                /*first project styling of button*/
        border-radius: 50%;
        width: 60px;
        height: 60px;
        border: 1px solid rgb(224, 27, 204);
        display: flex;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
       
    }
    .project.two .project-button{    /*second project styling of button*/
        border-radius: 50%;
        border: 1px solid rgba(0, 55, 255, 0.874);
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
       
    }
    .project.three .project-button{    /*third project styling of button*/
        border-radius: 50%;
        border: 1px solid orange;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
       
    }
    .project.four .project-button{    /*fourth project styling of button*/
        border-radius: 50%;
        border: 1px solid aqua;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
       
    }
    /* start of footer styling */

    footer>div{
        width: 100dvw;
        min-height: 70dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;


    }
    footer>div>button{
        background-color: transparent;
        border: none;
        cursor:pointer;
    }

    small{
        position: absolute;
        bottom: 1rem;
        left: 2rem;
        font-size:0.5rem;
    }
/* end of footer styling */
    

}












/*-------------start style of work projects detail page------------------------*/

.project-container{
    width: 100dvw;
    height: 100dvh;
    position: fixed;
}
.project-image-detail{              /*first project styling of specific images*/
    width: 80dvw;
    height: 80dvh;
    background-image: url(images/laniemoore-shop.jpg);  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 3rem;
    right: 0rem;
}

.project-image-detail.two{              /*second project styling of specific images*/
    width: 80dvw;
    height: 80dvh;
    background-image: url(images/apax-visa-consultancy.jpg);  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 3rem;
    right: 0rem;
}
.project-image-detail.three{              /*three project styling of specific images*/
    width: 80dvw;
    height: 80dvh;
    background-image: url(images/jessechedotal-coach.jpg);  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 3rem;
    right: 0rem;
}
.project-image-detail.four{              /*fourth project styling of specific images*/
    width: 80dvw;
    height: 80dvh;
    background-image: url(images/obsequium-estab.jpg);  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 3rem;
    right: 0rem;
}
.project-title>h1{                  /* project styling of specific of title */
    mix-blend-mode:difference;
    position: absolute;
    top: -10dvh;
    right: 0rem;
    font-size:7.5rem;
}

.project-description{               /* project styling of background of the parag */
    width: 55dvw;
    height: 40dvh;
    bottom: 0rem;
    right: 3rem;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    

    
}
.project-description>p{         /* project styling description parag of project */
    word-spacing: 0.5ch;
    text-align:left;
    padding: 0 3rem 0 3rem;
    font-size: 1rem;
    font-weight: 100;
    text-indent: 4rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
}

.empty{
    width: 100dvw;
    height: 100dvh;
    z-index: 1;
    position: relative;
}

.project-branding-container{      /* project styling branding/casestudy of project */
    width: 70dvw;
    height: auto;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(7, 4, 2, 0.75);
}

.branding-image-container{
    width: 65dvw;
    padding: 3rem 0rem 3rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
   
}

.branding-image-container.two,                  /* first project images branding style*/
.branding-image-container.three, 
.branding-image-container.four{
    width: 65dvw;
    height: 60dvh;
}
.branding-image-container.one{
    height: 25dvh;
    background-image: url(images/laniemoorecolorpallete.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.branding-image-container.two{
    background-image: url(images/laniemoore-landing-page.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

}

.branding-image-container.three{
    background-image: url(images/laniemoore-laptop-two.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.branding-image-container.four{
    background-image: url(images/laniemoore-laptop-front.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


.branding-image-container.two,                  /* second  project images branding style*/
.branding-image-container.three, 
.branding-image-container.four{
    width: 65dvw;
    height: 60dvh;
}
.branding-image-container.apax .one{
    height: 25dvh;
    background-image: url(images/apaxcolorpallete.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.branding-image-container.apax .two{
    background-image: url(images/apax-company-front.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

}

.branding-image-container.apax .three{
    background-image: url(images/apax-logo.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.branding-image-container.apax .four{
    background-image: url(images/apax-brochure.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.branding-image-container.two,                  /* third  project images branding style*/
.branding-image-container.three, 
.branding-image-container.four{
    width: 65dvw;
    height: 60dvh;
}
.branding-image-container.jesse .one{
    height: 25dvh;
    background-image: url(images/jessecolorpallete.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.branding-image-container.jesse .two{
    background-image: url(images/Jesse-hanging-wall.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

}

.branding-image-container.jesse .three{
    background-image: url(images/jesse-paper.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.branding-image-container.jesse .four{
    background-image: url(images/jesse-langdingpage.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.branding-image-container.two,                  /* fourth  project images branding style*/
.branding-image-container.three, 
.branding-image-container.four{
    width: 65dvw;
    height: 60dvh;
}
.branding-image-container.obs .one{
    height: 25dvh;
    background-image: url(images/obsequium-colorpallete.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.branding-image-container.obs .two{
    background-image: url(images/obsequium-lawfirm.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

}

.branding-image-container.obs .three{
    background-image: url(images/obsequium-laptop.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.branding-image-container.obs .four{
    background-image: url(images/obsequium-phone.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
/*-------------end style of work projects detail page------------------------*/


/*-------------start style of project footer ------------------------*/

.project-footer, .about-footer{
    position: relative;
    z-index: 1;
    background-color: #1f1f1f;
    width: 100dvw;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.project-footer, .about-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}
.project-footer>h1, .about-footer>h1{
    font-size: 5rem;
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
    

}
.project-button-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
button.circle{
    cursor: pointer;
    background-color: transparent;
}
.project-button-container .circle.white{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border:1px solid whitesmoke;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}
.project-button-container .circle.orange{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border:1px solid orange;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}
.circle>h2{
    font-size: 1rem;
    white-space:nowrap;
    letter-spacing: 0.5ch;
    font-weight: 100;
    word-spacing: 0.5ch;
    text-align: center;
}
.circle.white>h2{
    animation: rotate_white 200s infinite linear;
}
.circle.orange>h2{
    animation: rotate_orange 200s infinite linear;
}

@keyframes rotate_white {
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
}


@keyframes rotate_orange {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}


/*-------------end style of project footer ------------------------*/
/*-------------start style of about me page ------------------------*/

.review-container{
    width: 99.8dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-image-container{
    width: 90dvw;
    height: 60dvh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;

}
.review-image{
    min-width: 17dvw;
    min-height: 14dvh;

}

.review-image.one{
    background-image: url(images/editors-choice-01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.review-image.two{
    background-image: url(images/editors-choice-02.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.review-image.three{
    background-image: url(images/editors-choice-03.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about-container{               /* about me sections */
    min-height: 100dvh;
    width: 100dvw;
}
.about-pitch>h1{
    -webkit-text-stroke-color: orange;
    width: 20ch;
    text-align: left;
    width: 60dvw;
    padding: 0rem 4rem 0rem 4rem;

}
.about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.about-parag{
    width: 65dvw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight:normal;
    gap: 1.5rem;
    text-indent: 2rem;
    opacity: 75%;
    padding: 0rem 4rem 0rem 4rem;


}
.about-reserve{
    width: 50dvw;
    height: 50dvh;

}
.about-image{
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    background-image: url(images/about-myself.png);
    width:50dvw ;
    height:80dvh ;
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.about-pitch-two{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.about-pitch-two>h1{
    font-size: 5rem;
    padding: 0rem 4rem 0rem 4rem;

}
span{
    -webkit-text-stroke-color: orange;
}

/*-------------end style of about me page ------------------------*/

/*-------------start style of contact page ------------------------*/

.contact-container{
    display: flex;
    justify-content:center;
    align-items:start;
    flex-direction: column;
    width: 100dvw;
    height:  auto;
    gap: 4rem;
    overflow:visible;   
    padding-top: 8rem;
}
.contact-container>h1{
    font-size: 8rem;
    text-align: left;
    max-width: 17ch;
    padding: 0rem 8rem 0rem 8rem;



}
.contact-container>h2{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:orange;
    color: #1f1f1f;
    font-size: 5rem;
    font-weight:bold;
    text-align: left;
    font-variant-caps:all-petite-caps;
    max-width: 15ch;
    padding: 0rem 8rem 2rem 8rem;

}
.contact-container h2 >span{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:red;
}


form div>p{                                                    /* form style */ 

    font-size: 1.8rem;
    font-family:'Josefin Slab', 'Arial Narrow', Arial, sans-serif;
    line-height: 4rem;
    max-width: 55ch;
    padding: 9rem 9rem 2rem 9rem;
    
}
form{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100dvw;
    height: auto;
}

input, select{
    text-align: center;
    color:aqua;
    font-family:'Josefin Slab', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}
::-webkit-input-placeholder{
    color:aqua;
    text-align: center;
    opacity: 50%;
    font-family:'Josefin Slab', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

input.name:focus, select.budget:focus, input.reason:focus, select.source:focus{
    outline: none;
}

  
input.name, input.reason, select.source, select.budget{
    min-width: 20ch;
    background-color: transparent;
    color:aqua;
    border: none;
    border-bottom: 1px solid whitesmoke;
}
input.name{
    min-width: 30ch;
}
input.reason{
    min-width: 40ch;
}


.footer-container{
    position: relative;
    width: 100dvw;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    padding: 0rem 9rem 4rem 9rem;
}
.footer-container button{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid aqua;
    background-color: transparent;
    font-size: medium;
    font-variant-caps: all-petite-caps;
    font-size: 1.5rem;
    text-align: center;
    color:aqua;
    background-color: black;
}


/*-------------end style of contact page ------------------------*/

